div.gallery {
  border: 0.5%;
}

div.gallery:hover {
//////////////////////////
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

div .responsive {
	padding-top: 0;
	padding-right: auto;
	padding-left: auto;
	padding-bottom: 0;
	float: left;
	width: 33.33333%;
}

@media only screen and (min-width: 601px) and (max-width: 1235px){
  .responsive {
    width: 66.33333%;
    margin: 6px 0;
  }
}

@media only screen and (min-device-width:320px) and (max-device-width:600px){
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

































body{
	background-image: url('../Images/background.png');
	font-size: 87.5%;
	font-family: Arial,'Courgette', cursive,Times New Roman;



  line-height: :1.5;
	text-align: left;
	padding-right: 0px;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  margin-top: 1%;
}

.mainHeader nav{
	background-color: #4F4444;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
}

.mainHeader nav ul{
  list-style: none;
  margin: auto;

}

.mainHeader nav ul li{
	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited{
	color: #FFF;
	display: inline-block;
	padding-top: 10px;
	padding-right: 45px;
	padding-left: 45px;
	padding-bottom: 10px;
	height: 20px;
	font-family: 'Courgette';
}
.mainHeader nav a:hover, .mainHeader nav a:active, .mainHeader nav .active a:link, .mainHeader nav .active a:visited{
	background-color: #864A40;
	color: #FFF;
	text-shadow: none;
	font-family: 'Courgette';
}
.mainHeader nav ul li a{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.title {
	font-family: 'Courgette';
	text-align: center;
	color: #864A40;
	font-size: 100%;
}
.intro content p {
	text-align: justify;
	font-family: 'Courgette';
	font-size: 87,5%;
}


a{
  text-decoration: none
}

.body{
  margin: auto;
  width: 80%;
  clear: both;
}


.mainContent{

  line-height: 25px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.main-footer{
	width: 100%;
	height: 40px;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #4F4444;
	margin: 2% 0;
	text-align: left;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width:320px) and (max-device-width:600px){
/* Styles */
}
/* Tablets ----------- */
@media only screen and (min-width: 601px) and (max-width: 1235px){
/* Styles */


  .body{
    width: 90%;
    font-size: 95%;
  }

  .mainheader img{
    width: 100%;
  }

  .mainHeader nav{
    height: 240px;
  }

  .mainHeader nav ul{
    padding-left: 0;

  }
  .mainHeader nav ul li{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .mainHeader nav a:link, .mainHeader nav a:visited{

    padding: 10px 25px;
    height: 20px;
    display: block;
  }

  .content{
    width: 100%;
    float: left;
    margin-top: 2%;
  }
  .post-info{
    display: none;
  }
  .topContent{
    background-color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2px;
    margin-bottom: 3%;
  }
  .bottomContent{

    margin-top: 3px;
  }
  .top-Sidebar, .middle-Sidebar, .bottom-Sidebar{
    width: 94%;
    margin : 2% 0 2% 0%;
    padding: 2% 3%;
  }

}
.mainImages {
	max-width: 24%;
	/* [disabled]margin-top: 1%; */
	margin-right: 4%;
	margin-left: 5%;
	/* [disabled]margin-bottom: 1%; */
	max-height: auto;
}
.main-footer div .copyright-left , .main-footer div .copyright-right{
	font-family: Times New Roman;
	color: #FFF;
	margin: 20px;
	font-size: 70%;
	displ: inline;
	width: 45%;
	display: inline-block;
}
.topnav .icon {
	displa: none;
}
.main-footer div .copyright-right {
	text-align: right;
}
